body {

	background:url('sub_to_pewds.jpg');
	background-size: cover;

}


h1 {
	
	text-align: center;
	font-family: 'Rubik Mono One', sans-serif;

}

div.subcount {

	text-align: center;

}

div.nucleo {

	text-align: center;

}
